[Desktop Entry]
Type=Application
Name=Settings
Comment=Layout, look and everything else on this machine
Exec=edel-settings
Icon=io.github.alimardon123.edel.Settings
Terminal=false
Categories=Settings;GTK;
Keywords=preferences;layout;preset;tiling;about;
StartupNotify=true
